# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# AI Models
# =========================
*.pt
*.pth
weights/
runs/

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
postgres-data/

# =========================
# Cache
# =========================
.cache/
.pytest_cache/
.mypy_cache/